section.nmh-login{
    min-height: 45.6vh;
    form{
        border-radius: 1.5rem;
        }
        .nmh-bgcolor{
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        background-color: #bf1e2e;
        }
        button{
        background-color:#bf1e2e;
        }
        h1{
        font-size: 2.5rem;
        }

}
