section.nmh-admin{
    min-height: 54.7vh;
    .nmh-color{
        color: #d50029;
    }
    .nmh-border-color{
        border-color: white !important;
    }
    .main-bg{
        background-color: #d50029;
    }
}